<a routerLink="/food-product" class="btn btn-sm btn-success mb-2">Add Product</a>
<div class="card-columns">
  <div class="card" *ngFor="let product of products" class="card mb-3" style="max-width: 540px;">
    <a routerLink="/food-product/{{product.id}}">
        <img src="{{product.icon}}" class="card-img" alt="{{product.name}}">
    </a>
    <div>
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.comment}}</p>
        <p class="card-text"><small class="text-muted"><strong>Prt:</strong>{{product.proteine}}&nbsp;<strong>Fat:</strong>{{product.fat}}&nbsp;<strong>CH:</strong>{{product.carbohydrate}}</small></p>
      </div>
    </div>
  </div>
</div>
