<div class="row">
  <div class="col-sm-12">
    <div class="card mt-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <a routerLink="/food-product/edit/{{product.id}}" routerLinkActive="active">
            <img src="{{product.icon}}" class="card-img" alt="No picture ((">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.comment}}</p>
            <p class="card-text"><small class="text-muted"><strong>Prt:</strong>{{product.proteine}}&nbsp;<strong>Fat:</strong>{{product.fat}}&nbsp;<strong>CH:</strong>{{product.carbohydrate}}</small></p>
            <button type="button" routerLink="/food-product/edit/{{product.id}}" class="btn btn-outline-warning m-2">Edit</button>
            <button type="button" routerLink="/food-products" class="btn btn-outline-success m-2">Close</button>
            <button type="button" onkeyup="deleteProduct(product.id)" class="btn btn-outline-danger m-2">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
