
<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Do you really want to delete "{{currentUser.nameFirst}} ({{currentUser.nameNick}}) {{currentUser.nameLast}}" from database?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" (click)="deleteUser(currentUser.id)" class="btn btn-outline-danger m-2">
          <span *ngIf="isDeleting" class="spinner-border spinner-border-sm">Delete</span>
          <span *ngIf="!isDeleting">Delete</span>
        </button>
      </div>
    </div>
  </div>
</div>

<h1>Users</h1>
<a routerLink="/users/add" class="btn btn-sm btn-success mb-2">Add User</a>
<div class="card-columns">
  <div *ngFor="let user of users" class="card mb-3 p-5 border-secondary rounded-5" style="max-width: 540px;">
    <a routerLink="/users/edit/{{user.id}}">
    <img src="{{user.icon}}" onerror="this.src='https://cdn.shopify.com/s/files/1/0115/1703/4560/products/Halloween-Party-V-for-Vendetta-Mask-Anonymous-Guy-Fawkes-Fancy-Adult-Costume-Accessory-Party-Cosplay-Halloween_ac9d377a-9497-4957-8b4d-ae2df1b2adab_1200x1200.jpg?v=1569625966'" alt=""  class="card-img rounded-circle shadow-7-strong">
    </a>
    <div>
      <div class="card-body">
        <h6 class="card-title">{{user.nameFirst}} ({{user.nameNick}}) {{user.nameLast}}</h6>
          <button type="button" routerLink="/users/edit/{{user.id}}" class="btn btn-outline-warning m-2">Edit</button>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-danger m-2" (click)="currentUserSet(user)" data-toggle="modal" data-target="#confirmDeleteModal">
            <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
            <span *ngIf="!user.isDeleting">Delete</span>
          </button>
      </div>
    </div>
  </div>
</div>
